.account-container {
    background-image: url('../images/FloridaPolyImage.png');
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
    display: flex;
    justify-content: center;
    align-items: inherit;
    min-height: 100vh;
    padding: 2rem 0;
}
.account-box {
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 8px;
    box-shadow: rgb(128, 128, 128);
    max-width: 500px;
    min-width: 100px;
    opacity: 0.9;
}
